.media-instagram iframe {
  width: 241px;
  height: 321px;
}

.media-twitter {
  display: table;
}

div.field--widget-entity-browser-entity-reference div.entities-list > div {
  width: 175px;
  float: left;
}

div.field--widget-entity-browser-entity-reference  details.form-wrapper {
  overflow: auto;
}
