{% if content %}
    <figure data-feedback="fb:likes,fb:comments">
        {{ content.field_image }}
        <figcaption>
            {% if content.field_description|render %}
                <h1>{{ content.field_description | basic_format }}</h1>
            {% endif %}
            {% if content.field_copyright | plain_text or content.field_source | plain_text %}
                <cite>
                    <span class="text-copyright">
                        {% if content.field_copyright | plain_text %}
                            {{ content.field_copyright }}
                        {% endif %}
                        {% if content.field_source | plain_text %}
                            <span class="text-source">{{ content.field_source }}</span>
                        {% endif %}
                    </span>
                </cite>
            {% endif %}
        </figcaption>
    </figure>
{% endif %}
