{% if content %}
    <figure class="op-interactive">
        {{ content.field_media_video_embed_field }}
        <figcaption>
            {% if content.field_copyright|render  %}
                <cite><span class="text-copyright">{{ content.field_copyright }}</span></cite>
            {% endif %}
            {% if content.field_description|render %}
                <h1>{{ content.field_description | basic_format }}</h1>
            {% endif %}
        </figcaption>
    </figure>
{% endif %}
