{#
/**
 * @file
 * Theme override of a skip link.
 *
 * Available variables:
 * - skiptext: Text for the skip link.
 */
#}
<a href="#main-content" class="visually-hidden focusable amp-skip-link">
  {{ skiptext }}
</a>
