{#
/**
 * @file
 * Default theme implementation to display a tweet.
 *
 * @ingroup themeable
 */
#}
<blockquote{{ attributes.setAttribute('width', '241') }}>
  <a href="{{ path }}"></a>
</blockquote>
