#toolbar-tab-search {
  float: right;
}

#toolbar-tab-search .form-item {
  margin: 0.3em;
}

#toolbar-tab-search .form-item,
#toolbar-tab-search input.button
{
  margin: 0.3em;
  float: left;
}

#toolbar-tab-search input.thunder-search-box {
  color: #0c5c7f;
  min-height: 32px;
  height: 32px;
  background: white url(../images/ios7-search.png) no-repeat scroll 7px 5px;
  background-size: 20px;
  padding-left: 30px;
}

