<div class="indicator-wrap">
    {% for indicator in indicators %}
        <span
                class="indicator {{ indicator['class'] }}"
                data-pos="{{ indicator['pos'] }}"
                style="width: {{ indicator['width'] }}%"
        ></span>
    {% endfor %}
    <div class="cursor"></div>
</div>