<div class="indicator-wrap">
    <span class="indicator bad"></span>
    <span class="indicator ok"></span>
    <span class="indicator good"></span>
    <span class="indicator ok"></span>
    <span class="indicator bad"></span>
    <div class="cursor"></div>
</div>