{#
TODO: We should add support fot adding of version if it's needed.

vX.YY:
    '#title': 'Update to Thunder X.YY'
    '#description': '<h3>These are the new features for this release:</h3>'
#}
{% block file_methods %}
    {{ update_hook_name }}:
        '#title': '{{ checklist_title }}'
        '#description': '<p></p>'
        '#description_successful': '<p>{{ checklist_success }}</p>'
        '#description_failed': '<p><strong>{{ checklist_failed }}</strong><p>'
{% endblock %}
